<nav class="navbar bg-secondary">
    <div class="container-fluid">
        <a href="/" style="text-decoration: none;"><span class="navbar-brand mb-0 h1 text-white">ProtoMovies</span></a>
    </div>
</nav>